## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
no_by_col = application_df.nunique()
no_by_col

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 200
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1500
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies` - Dropped 'Status' as it doesn't seems to be related to the successful rate.
application_df_encode = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS','IS_SUCCESSFUL'])
application_df_encode = application_df_encode.drop(columns=['ASK_AMT','STATUS'])
application_df_encode

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,IS_SUCCESSFUL_0,IS_SUCCESSFUL_1
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
2,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,True,False,True,False
3,False,False,False,True,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
34295,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,True,False,True,False
34296,False,False,False,True,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,True,False
34297,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
34298,False,False,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df_encode.drop(columns=['IS_SUCCESSFUL_0','IS_SUCCESSFUL_1'])
y = application_df_encode[['IS_SUCCESSFUL_1']]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer. Adjusted the model by increasing the number of neurons and added more hidden layer.
number_input_features = X_train_scaled.shape[1]
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                            4,200

 dense_1 (Dense)                       (None, 50)                             5,050

 dense_2 (Dense)                       (None, 25)                             1,275

 dense_3 (Dense)                       (None, 1)                                 26

 Total params: 10,551 (41.21 KB)

 Trainable params: 10,551 (41.21 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model - Added the number of epochs to the training regimen
fit_model = nn.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/200
804/804  5s 3ms/step - accuracy: 0.7048 - loss: 0.5856
Epoch 2/200
804/804  3s 3ms/step - accuracy: 0.7276 - loss: 0.5557
Epoch 3/200
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5495
Epoch 4/200
804/804  2s 2ms/step - accuracy: 0.7281 - loss: 0.5502
Epoch 5/200
804/804  3s 2ms/step - accuracy: 0.7314 - loss: 0.5511
Epoch 6/200
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5405
Epoch 7/200
804/804  2s 3ms/step - accuracy: 0.7339 - loss: 0.5494
Epoch 8/200
804/804  3s 3ms/step - accuracy: 0.7389 - loss: 0.5387
Epoch 9/200
804/804  2s 2ms/step - accuracy: 0.7325 - loss: 0.5460
Epoch 10/200
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5431
Epoch 11/200
804/804  3s 2ms/step - accuracy: 0.7312 - loss: 0.5462
Epoch 12/200
804/804  2s 2ms/step - accuracy: 0.7355 - loss: 0.5428
Epoch 13/200
804/804  3s 3ms/step - accuracy: 0.7333 - loss: 0.5426
Epoch 14/200
804/804  3s 3ms/step - accuracy: 0.7396 - loss: 0.5378
Epoch 15/200
804/804  4s 2ms/step - accuracy: 0.7389 - loss: 0.5394
Epoch 16/200
804/804  1s 2ms/step - accuracy: 0.7353 - loss: 0.5427
Epoch 17/200
804/804  3s 2ms/step - accuracy: 0.7375 - loss: 0.5402
Epoch 18/200
804/804  3s 3ms/step - accuracy: 0.7323 - loss: 0.5420
Epoch 19/200
804/804  3s 3ms/step - accuracy: 0.7372 - loss: 0.5415
Epoch 20/200
804/804  1s 2ms/step - accuracy: 0.7391 - loss: 0.5379
Epoch 21/200
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5423
Epoch 22/200
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5415
Epoch 23/200
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5348
Epoch 24/200
804/804  3s 2ms/step - accuracy: 0.7382 - loss: 0.5421
Epoch 25/200
804/804  2s 3ms/step - accuracy: 0.7387 - loss: 0.5381
Epoch 26/200
804/804  2s 3ms/step - accuracy: 0.7372 - loss: 0.5423
Epoch 27/200
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5372
Epoch 28/200
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5433
Epoch 29/200
804/804  3s 2ms/step - accuracy: 0.7400 - loss: 0.5378
Epoch 30/200
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5411
Epoch 31/200
804/804  2s 2ms/step - accuracy: 0.7418 - loss: 0.5386
Epoch 32/200
804/804  3s 3ms/step - accuracy: 0.7393 - loss: 0.5364
Epoch 33/200
804/804  2s 2ms/step - accuracy: 0.7404 - loss: 0.5365
Epoch 34/200
804/804  3s 2ms/step - accuracy: 0.7433 - loss: 0.5331
Epoch 35/200
804/804  2s 2ms/step - accuracy: 0.7375 - loss: 0.5349
Epoch 36/200
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5345
Epoch 37/200
804/804  2s 2ms/step - accuracy: 0.7402 - loss: 0.5336
Epoch 38/200
804/804  2s 2ms/step - accuracy: 0.7430 - loss: 0.5338
Epoch 39/200
804/804  3s 3ms/step - accuracy: 0.7390 - loss: 0.5336
Epoch 40/200
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5316
Epoch 41/200
804/804  2s 2ms/step - accuracy: 0.7366 - loss: 0.5401
Epoch 42/200
804/804  2s 2ms/step - accuracy: 0.7386 - loss: 0.5344
Epoch 43/200
804/804  3s 2ms/step - accuracy: 0.7364 - loss: 0.5370
Epoch 44/200
804/804  3s 2ms/step - accuracy: 0.7396 - loss: 0.5366
Epoch 45/200
804/804  2s 3ms/step - accuracy: 0.7330 - loss: 0.5383
Epoch 46/200
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5348
Epoch 47/200
804/804  3s 3ms/step - accuracy: 0.7431 - loss: 0.5330
Epoch 48/200
804/804  2s 2ms/step - accuracy: 0.7354 - loss: 0.5401
Epoch 49/200
804/804  2s 2ms/step - accuracy: 0.7375 - loss: 0.5369
Epoch 50/200
804/804  3s 2ms/step - accuracy: 0.7348 - loss: 0.5391
Epoch 51/200
804/804  3s 3ms/step - accuracy: 0.7416 - loss: 0.5341
Epoch 52/200
804/804  4s 2ms/step - accuracy: 0.7399 - loss: 0.5360
Epoch 53/200
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5361
Epoch 54/200
804/804  2s 2ms/step - accuracy: 0.7365 - loss: 0.5372
Epoch 55/200
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5349
Epoch 56/200
804/804  4s 4ms/step - accuracy: 0.7437 - loss: 0.5317
Epoch 57/200
804/804  2s 3ms/step - accuracy: 0.7402 - loss: 0.5371
Epoch 58/200
804/804  2s 3ms/step - accuracy: 0.7377 - loss: 0.5317
Epoch 59/200
804/804  3s 3ms/step - accuracy: 0.7391 - loss: 0.5348
Epoch 60/200
804/804  4s 2ms/step - accuracy: 0.7362 - loss: 0.5387
Epoch 61/200
804/804  3s 3ms/step - accuracy: 0.7404 - loss: 0.5350
Epoch 62/200
804/804  2s 2ms/step - accuracy: 0.7431 - loss: 0.5318
Epoch 63/200
804/804  2s 2ms/step - accuracy: 0.7429 - loss: 0.5290
Epoch 64/200
804/804  3s 2ms/step - accuracy: 0.7365 - loss: 0.5376
Epoch 65/200
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5287
Epoch 66/200
804/804  2s 2ms/step - accuracy: 0.7449 - loss: 0.5289
Epoch 67/200
804/804  3s 3ms/step - accuracy: 0.7363 - loss: 0.5388
Epoch 68/200
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5354
Epoch 69/200
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5317
Epoch 70/200
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5390
Epoch 71/200
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5321
Epoch 72/200
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5332
Epoch 73/200
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5328
Epoch 74/200
804/804  3s 3ms/step - accuracy: 0.7332 - loss: 0.5403
Epoch 75/200
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5323
Epoch 76/200
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5364
Epoch 77/200
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5308
Epoch 78/200
804/804  2s 2ms/step - accuracy: 0.7382 - loss: 0.5368
Epoch 79/200
804/804  3s 2ms/step - accuracy: 0.7320 - loss: 0.5433
Epoch 80/200
804/804  2s 2ms/step - accuracy: 0.7436 - loss: 0.5305
Epoch 81/200
804/804  3s 3ms/step - accuracy: 0.7408 - loss: 0.5326
Epoch 82/200
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5350
Epoch 83/200
804/804  2s 2ms/step - accuracy: 0.7456 - loss: 0.5260
Epoch 84/200
804/804  3s 2ms/step - accuracy: 0.7377 - loss: 0.5350
Epoch 85/200
804/804  2s 2ms/step - accuracy: 0.7414 - loss: 0.5329
Epoch 86/200
804/804  2s 2ms/step - accuracy: 0.7380 - loss: 0.5329
Epoch 87/200
804/804  2s 3ms/step - accuracy: 0.7416 - loss: 0.5332
Epoch 88/200
804/804  3s 3ms/step - accuracy: 0.7414 - loss: 0.5314
Epoch 89/200
804/804  4s 2ms/step - accuracy: 0.7385 - loss: 0.5362
Epoch 90/200
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5325
Epoch 91/200
804/804  3s 2ms/step - accuracy: 0.7388 - loss: 0.5329
Epoch 92/200
804/804  4s 3ms/step - accuracy: 0.7422 - loss: 0.5295
Epoch 93/200
804/804  2s 3ms/step - accuracy: 0.7433 - loss: 0.5296
Epoch 94/200
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5358
Epoch 95/200
804/804  3s 2ms/step - accuracy: 0.7372 - loss: 0.5343
Epoch 96/200
804/804  2s 2ms/step - accuracy: 0.7379 - loss: 0.5335
Epoch 97/200
804/804  3s 2ms/step - accuracy: 0.7465 - loss: 0.5260
Epoch 98/200
804/804  3s 3ms/step - accuracy: 0.7446 - loss: 0.5261
Epoch 99/200
804/804  3s 3ms/step - accuracy: 0.7403 - loss: 0.5313
Epoch 100/200
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5348
Epoch 101/200
804/804  3s 2ms/step - accuracy: 0.7390 - loss: 0.5332
Epoch 102/200
804/804  2s 2ms/step - accuracy: 0.7402 - loss: 0.5321
Epoch 103/200
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5365
Epoch 104/200
804/804  2s 2ms/step - accuracy: 0.7476 - loss: 0.5242
Epoch 105/200
804/804  3s 3ms/step - accuracy: 0.7384 - loss: 0.5338
Epoch 106/200
804/804  2s 2ms/step - accuracy: 0.7420 - loss: 0.5291
Epoch 107/200
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5334
Epoch 108/200
804/804  4s 4ms/step - accuracy: 0.7375 - loss: 0.5354
Epoch 109/200
804/804  4s 5ms/step - accuracy: 0.7406 - loss: 0.5305
Epoch 110/200
804/804  5s 5ms/step - accuracy: 0.7466 - loss: 0.5279
Epoch 111/200
804/804  3s 4ms/step - accuracy: 0.7394 - loss: 0.5344
Epoch 112/200
804/804  5s 4ms/step - accuracy: 0.7429 - loss: 0.5312
Epoch 113/200
804/804  5s 6ms/step - accuracy: 0.7377 - loss: 0.5363
Epoch 114/200
804/804  3s 4ms/step - accuracy: 0.7410 - loss: 0.5349
Epoch 115/200
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5300
Epoch 116/200
804/804  3s 2ms/step - accuracy: 0.7443 - loss: 0.5292
Epoch 117/200
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5265
Epoch 118/200
804/804  2s 2ms/step - accuracy: 0.7436 - loss: 0.5291
Epoch 119/200
804/804  3s 3ms/step - accuracy: 0.7411 - loss: 0.5279
Epoch 120/200
804/804  2s 2ms/step - accuracy: 0.7420 - loss: 0.5274
Epoch 121/200
804/804  2s 2ms/step - accuracy: 0.7367 - loss: 0.5345
Epoch 122/200
804/804  2s 2ms/step - accuracy: 0.7392 - loss: 0.5342
Epoch 123/200
804/804  2s 2ms/step - accuracy: 0.7435 - loss: 0.5266
Epoch 124/200
804/804  1s 2ms/step - accuracy: 0.7434 - loss: 0.5290
Epoch 125/200
804/804  2s 2ms/step - accuracy: 0.7433 - loss: 0.5276
Epoch 126/200
804/804  4s 3ms/step - accuracy: 0.7350 - loss: 0.5349
Epoch 127/200
804/804  2s 2ms/step - accuracy: 0.7464 - loss: 0.5259
Epoch 128/200
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5387
Epoch 129/200
804/804  1s 2ms/step - accuracy: 0.7423 - loss: 0.5307
Epoch 130/200
804/804  2s 2ms/step - accuracy: 0.7440 - loss: 0.5284
Epoch 131/200
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5339
Epoch 132/200
804/804  4s 3ms/step - accuracy: 0.7446 - loss: 0.5246
Epoch 133/200
804/804  4s 2ms/step - accuracy: 0.7386 - loss: 0.5358
Epoch 134/200
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5333
Epoch 135/200
804/804  2s 2ms/step - accuracy: 0.7448 - loss: 0.5267
Epoch 136/200
804/804  3s 2ms/step - accuracy: 0.7399 - loss: 0.5301
Epoch 137/200
804/804  3s 3ms/step - accuracy: 0.7402 - loss: 0.5311
Epoch 138/200
804/804  2s 2ms/step - accuracy: 0.7429 - loss: 0.5306
Epoch 139/200
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5335
Epoch 140/200
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5314
Epoch 141/200
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5328
Epoch 142/200
804/804  2s 2ms/step - accuracy: 0.7424 - loss: 0.5297
Epoch 143/200
804/804  3s 2ms/step - accuracy: 0.7384 - loss: 0.5335
Epoch 144/200
804/804  3s 3ms/step - accuracy: 0.7393 - loss: 0.5317
Epoch 145/200
804/804  4s 2ms/step - accuracy: 0.7426 - loss: 0.5294
Epoch 146/200
804/804  2s 2ms/step - accuracy: 0.7430 - loss: 0.5301
Epoch 147/200
804/804  2s 2ms/step - accuracy: 0.7455 - loss: 0.5280
Epoch 148/200
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5346
Epoch 149/200
804/804  2s 3ms/step - accuracy: 0.7424 - loss: 0.5270
Epoch 150/200
804/804  3s 3ms/step - accuracy: 0.7361 - loss: 0.5361
Epoch 151/200
804/804  2s 2ms/step - accuracy: 0.7450 - loss: 0.5281
Epoch 152/200
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5297
Epoch 153/200
804/804  3s 2ms/step - accuracy: 0.7406 - loss: 0.5321
Epoch 154/200
804/804  2s 2ms/step - accuracy: 0.7379 - loss: 0.5336
Epoch 155/200
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5315
Epoch 156/200
804/804  2s 3ms/step - accuracy: 0.7412 - loss: 0.5307
Epoch 157/200
804/804  2s 3ms/step - accuracy: 0.7394 - loss: 0.5337
Epoch 158/200
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5351
Epoch 159/200
804/804  2s 2ms/step - accuracy: 0.7420 - loss: 0.5328
Epoch 160/200
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5317
Epoch 161/200
804/804  2s 2ms/step - accuracy: 0.7418 - loss: 0.5325
Epoch 162/200
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5338
Epoch 163/200
804/804  3s 3ms/step - accuracy: 0.7429 - loss: 0.5290
Epoch 164/200
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5357
Epoch 165/200
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5299
Epoch 166/200
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5283
Epoch 167/200
804/804  3s 2ms/step - accuracy: 0.7433 - loss: 0.5290
Epoch 168/200
804/804  3s 2ms/step - accuracy: 0.7413 - loss: 0.5308
Epoch 169/200
804/804  3s 3ms/step - accuracy: 0.7372 - loss: 0.5348
Epoch 170/200
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5302
Epoch 171/200
804/804  2s 2ms/step - accuracy: 0.7429 - loss: 0.5294
Epoch 172/200
804/804  2s 2ms/step - accuracy: 0.7494 - loss: 0.5223
Epoch 173/200
804/804  2s 2ms/step - accuracy: 0.7417 - loss: 0.5311
Epoch 174/200
804/804  2s 2ms/step - accuracy: 0.7454 - loss: 0.5294
Epoch 175/200
804/804  2s 3ms/step - accuracy: 0.7442 - loss: 0.5273
Epoch 176/200
804/804  3s 3ms/step - accuracy: 0.7405 - loss: 0.5381
Epoch 177/200
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5290
Epoch 178/200
804/804  3s 2ms/step - accuracy: 0.7355 - loss: 0.5368
Epoch 179/200
804/804  3s 2ms/step - accuracy: 0.7423 - loss: 0.5328
Epoch 180/200
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5290
Epoch 181/200
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5320
Epoch 182/200
804/804  3s 3ms/step - accuracy: 0.7388 - loss: 0.5339
Epoch 183/200
804/804  2s 2ms/step - accuracy: 0.7416 - loss: 0.5302
Epoch 184/200
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5291
Epoch 185/200
804/804  3s 2ms/step - accuracy: 0.7439 - loss: 0.5288
Epoch 186/200
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5314
Epoch 187/200
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5341
Epoch 188/200
804/804  3s 3ms/step - accuracy: 0.7423 - loss: 0.5307
Epoch 189/200
804/804  4s 2ms/step - accuracy: 0.7413 - loss: 0.5300
Epoch 190/200
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5327
Epoch 191/200
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5342
Epoch 192/200
804/804  3s 2ms/step - accuracy: 0.7400 - loss: 0.5306
Epoch 193/200
804/804  3s 3ms/step - accuracy: 0.7412 - loss: 0.5288
Epoch 194/200
804/804  2s 3ms/step - accuracy: 0.7384 - loss: 0.5326
Epoch 195/200
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5320
Epoch 196/200
804/804  2s 2ms/step - accuracy: 0.7404 - loss: 0.5333
Epoch 197/200
804/804  2s 2ms/step - accuracy: 0.7454 - loss: 0.5267
Epoch 198/200
804/804  2s 2ms/step - accuracy: 0.7355 - loss: 0.5342
Epoch 199/200
804/804  2s 2ms/step - accuracy: 0.7366 - loss: 0.5372
Epoch 200/200
804/804  2s 3ms/step - accuracy: 0.7401 - loss: 0.5312

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 3ms/step - accuracy: 0.7275 - loss: 0.6023
Loss: 0.602329671382904, Accuracy: 0.7274635434150696

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.